<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
    <!-- CSS only -->
    <!-- we are getting bootstrap5 from the CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body>
    <div class="container mt-4">
        <div class="row">
 
            <div class="mt-4 p-5 bg-success text-white rounded mb-3">
                <h1>The Web Dictionary</h1>
            </div>
            <div class="col-md-12">
                <h4><b>Word</b>{{ word }}</h4>
                <!-- this will display the word meaning -->
                <p><b>Meaning</b>{{ meanings }}</p>
                <hr>
                <!-- this will display the antonym for the word if its available-->
                <p><b>Antonyms</b>:{{ antonyms }}</p>
                <hr>
                <!-- this will display the synonym for the word if its available-->
                <p><b>Synonyms</b>:{{ synonyms }}</p>
            </div>
        </div>
    </div>
</body>
 
</html>